/* General
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	padding-top: 60px;
	margin-bottom: 60px;
}
.btn-control {
	margin: 25px 0 0 0;
}
.btn-control button {
	margin-bottom: 5px;
}



/* Third parts
-------------------------------------------------- */
/*Bootstrap*/
	.form-control {
		margin-bottom: 10px;
	}
	@media (min-width: 992px) {
	}
	@media (min-width: 768px) {
		.form-control {
			margin-bottom: 0px;
		}
	}
	.control-label {
		font-weight: normal;
	}
	.table td {
		height: 50px;
	}
	.label {
		font-weight: normal; font-size: 13px;
	}
	.active {
		background: #666 !important;
	}


/* Footer
-------------------------------------------------- */
.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: #f5f5f5;
}
.footer .text-muted {
	margin: 5px 0;
}

@media (min-width: 768px) {
	.footer .text-muted {
		margin: 20px 0;
	}
	.footer .title {
		text-align: left;
	}
	.footer .powered {
		text-align: right;
	}
}