/* General
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	padding-top: 60px;
	margin-bottom: 60px;
}
.btn-control {
	margin: 25px 0 0 0;
}
.btn-control button {
	margin-bottom: 5px;
}
.msg-loading {
	position: fixed;
	top: 0; left: 50%;
	width: 150px;
	margin-left: -75px;
	font-size: 12px; color: #333;
	z-index: 1050;
	border-radius: 0px;
	background: #F9EDBE !important;
	border: 1px solid #F0C36D !important;
	text-align: center;
	padding: 5px;
	opacity: 0.8;
}
.msg-loading.animation {
	-webkit-transition: all ease 0.2s;
	transition: all ease 0.2s;
}
.msg-loading.animation.ng-hide {
	top: -20px;
	opacity: 0;
}


/* Third parts
-------------------------------------------------- */
/*Bootstrap*/
	.form-control {
		margin-bottom: 10px;
	}
	@media (min-width: 992px) {
	}
	@media (min-width: 768px) {
		.form-control {
			margin-bottom: 0px;
		}
	}
	.control-label {
		font-weight: normal;
	}
	.table td {
		height: 50px;
	}
	.label {
		font-weight: normal; font-size: 13px;
	}
	.active {
		background: #666 !important;
	}


/* Footer
-------------------------------------------------- */
.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: #f5f5f5;
}
.footer .text-muted {
	margin: 5px 0;
}

@media (min-width: 768px) {
	.footer .text-muted {
		margin: 20px 0;
	}
	.footer .title {
		text-align: left;
	}
	.footer .powered {
		text-align: right;
	}
}