<div id="myModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="m.closeModal('#myModal')"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{[{ m.Modal.title }]}</h4>
			</div>
			<div class="modal-body">
				<p>{[{ m.Modal.msg }]}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="m.closeModal('#myModal')">Sim</button>
				<button type="button" class="btn btn-default" ng-click="m.closeModal('#myModal')">Fechar</button>
			</div>
		</div>
	</div>
</div>